<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.mapper.UserMapper">

    <select id="queryUserByAcc" resultType="User">
        select *
        from user
        where acc = #{acc};
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user (acc, pwd, salt)
        values (#{acc},#{pwd},#{salt});
    </insert>

</mapper>